.Container{
  max-width: 1068px;
  margin: 0 auto;
  padding: 20px 24px;
}

.posts{
  background-color: var(--post-background);
  color: var(--post-text);
  line-height: 16px;
  padding: 8px 0px 0px;
}

.nav{
  background-color: var(--backgound);
  color: var(--nav-title);
}